.header-img{
    text-align: center;
    margin-top: 15px;
}

.navigation-bar{
    text-decoration: solid;
    margin-top: 18px;   
    margin-left: 730px;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    text-transform: capitalize;
    text-justify: auto;
    color: #000;
}

.main-page{
    background-color: rgb(239, 238, 238); 
    text-align: center;
}

#header-content{    
    margin-top: 55px;
    font-size: 37px;
}
.center1{
    margin-top: 15px;
    font-size: 24px;
}

.center2{
    margin-top: 15px;
    font-size: 25px;
}

.video1{
    margin: 50px;
}

.footer-content{
    font-size: 32px;
}

#form-1{
    margin-left: 30px;
    line-height: 35.5px;
    box-sizing: inherit;
    

}
label{
    font-size: 20px;
    cursor: default;
}

input{
    padding: 10px;
    width: 60%;
    
}

.text-2{
    text-align: left;
    width: 700px;
    height: 100px;
}

textarea{
    width: 420px;
    height: 80px;
}



#btn{
    background-color: orange;
    border-radius: 32px;
    margin-top: 18px;
    padding :10px;
    color: white;
    font-size: 25px;
    
}

/* footer css */

.footerimg1{
    display: inline-block;
    vertical-align: top;
    margin-left: 53px;
}
.footercontent1{
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
}
.large{
    font-size: 22px;
}
.small {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.Company{
    text-align: left;
    margin-left: 220px;
}

#policy{
    text-decoration: none;
    text-align: justify;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.policy1{
    margin-left: 240px;
    font-size: 110%;
    line-height: 1;
}
.img{
    
    margin: 20px;
}
.row-footer1{
    text-align: center;
    margin-left: 180px;
}

.row-footer2{
    text-align: left;
    margin-left: 150px;
}
