
{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Flex cap</title>
  {% load static %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/flexcap.css' %}">
</head>
<body>
<div class="container-fluid">
      <!-- img section -->
      <div class="row">
        <div class="col-sm-12">
        <img src="{% static 'images\NeuphonyFlexcap.webp' %}" width="100%" alt="">

        <div class="col-sm-6 bottom-left">
          <h1 ><b>TEN Brain Research Flexcap</b></h1>
          <h2 >Experience Brain Feedback At Home</h2>
          </div>
        </div>
      </div>
    <!-- img section -->
    <!-- India’s first EEG wearable -->
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <h1><b>India’s first EEG wearable</b></h1>
            <p>Exceptional brain monitoring with Ten Brain Research Flex Cap, featuring 8 precision sensors and advanced Bluetooth 4.2 for seamless data transmission </p>
            <!-- 1st row -->
              <div class="margin-bottom">
              <div class="row">
                <div class="col-sm-4">
                <img src="{% static 'images\8ChannelEEG.webp' %}" class="card-img-top" alt="8ChannelEEG">
                <p class="card-text">8 Channel EEG</p>
                </div>
                <div class="col-sm-4">
                  <img src="{% static 'images\BatteryLife.webp' %}" class="card-img-top"  alt="BatteryLife​">
                  <p class="card-text">Rechargable Battery with upto 8hrs Battery Life​ </p>
                </div>
                <div class="col-sm-4">
                <img src="{% static 'images\Wireless.webp' %}" class="card-img-top"  alt="WirelessConnectivit">
                <p class="card-text" >Wireless Connectivity with Windows & MacOS​ </p>
                </div>
              </div>
                <!-- 1st row -->
                <!-- 2nd row -->
                <div class="row">
                <div class="col-sm-4">
                  <img src="{% static 'images\EasyFitment.webp' %}" class="card-img-top" alt="VariableCapSizes">
                  <p class="card-text" >Variable Cap Sizes for Easy Fitment on All Head Sizes ​ </p>
                  </div>
                  <div class="col-sm-4">
                    <img src="{% static 'images\Highquality.webp' %}" class="card-img-top"  alt="qualityhardware">
                    <p class="card-text" >Sleek Design and High quality hardware </p>
                  </div>
                  <div class="col-sm-4">
                    <img src="{% static 'images\Experience.webp' %}" class="card-img-top" alt="ExperienceNeurofeedback">
                    <p class="card-text" >Experience Neurofeedback at Home </p>
                  </div>
                </div>
              </div>
              <!-- 2nd row -->
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
          <div class="card Brain-Research-Desktop1">
            <h3>Real-time analysis with Ten Brain Research Desktop App Track real-time EEG data, brain</h3>
            <p>To track real-time EEG data and conduct real-time brain analysis using the Ten Brain Research Desktop App, you’ll need to integrate your EEG device (e.g., the Flex Cap or other compatible EEG hardware) with the software, and ensure proper configuration for monitoring and analyzing brainwave activity in real-time.</p>
          </div>
          <div class="col-sm-6 ">
            <div class="card Brain-Research-Desktop2">
              <h4 > Features to ease your research and development</h4>
              <p>The Ten Brain Research flexcap Integrates with the desktop and mobile app that provides Cognitive Insights into the brain by tracking real time brain data</p>
            </div>
          </div>
          <div class="col-sm-6 ">
            <div class="card Brain-Research-Desktop3">
              <h4>Develop Brain Computer Applications With Ten Brain Research</h4>
              <p>Developing Brain-Computer Applications (BCAs) with the Ten Brain Research platform involves integrating brainwave data from EEG devices with software tools.</p>
              </div>
          </div>
        </div>
      </div>
     </div>
    </div>
    <!-- India’s first EEG wearable -->
     <!-- Neuphony Headband Product Information and product description-->
<div class="Neuphony-Headband-Product">
      <div class="container">
        <div class="card">
          <h1>Ten Brain Research Headband Product Information</h1>
          <div class="row">
            <div class="col-sm-6">
              <!-- zoom html starts -->
              <section id="default">
    <div class="large-5 column">
      <div class="xzoom-container">
        <img class="xzoom" id="xzoom-fancy" src="{% static 'images/Neuphony-Headband1.webp' %}"
                      xoriginal="{% static 'images/Neuphony-Headband1.webp' %}"/>
        <div class="xzoom-thumbs">
          <a href="{% static 'images/Neuphony-Headband1.webp' %}"><img class="xzoom-gallery" src="{% static 'images/Neuphony-Headband1.webp' %}" xpreview="{% static 'images/Neuphony-Headband1.webp' %}" ></a>
          <a href="{% static 'images/Neuphony-Headband2.webp' %}"><img class="xzoom-gallery" src="{% static 'images/Neuphony-Headband2.webp' %}"></a>
          <a href="{% static 'images/Neuphony-Headband3.webp' %}"><img class="xzoom-gallery" src="{% static 'images/Neuphony-Headband3.webp' %}"></a>
          <a href="{% static 'images/Neuphony-Headband4.webp' %}"><img class="xzoom-gallery" src="{% static 'images/Neuphony-Headband4.webp' %}"></a>
          <a href="{% static 'images/Neuphony-Headband5.webp' %}"><img class="xzoom-gallery" src="{% static 'images/Neuphony-Headband5.webp' %}"></a>
        </div>
      </div>
    </div>
        </section>
            <!-- zoom html ends -->
          </div>
            <div class="col-sm-6">
              <div class="Neurofeedback-device">
              <h1>Ten Brain Research EEG Flex Cap: 8 Channel Dry EEG & feedback Device</h1>
              <p>Unleash Your Brain’s Capabilities with Ten Brain Research Flex Cap</p>
              </div>
            </div>
        </div>
      </div>
       <!-- Neuphony Headband Product Information and product description end-->
       <div class="card p-4" >
          <div class="product-description">
              <h2>Product Description</h2>
          </div>
          <!-- table content  -->
        <ul class="tabs">
        <div class="row">
          <div class="col-sm-6">
            <li class="active border border" rel="tab1">Technical Specifications</li>
          </div>
          <div class="col-sm-6">
            <li class="border border"  rel="tab2">Product Description</li>
          </div>
        </div>
          </ul>
          <div class="tab_container">
            <div id="tab1" class="tab_content">
                <table class="producttabledesc2 table-bordered" >
                  <thead>
                    <tr class="dark-grey">
                      <th>Specification</th>
                      <th>Details</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Sensor Count</td>
                      <td >6+2 References</td>
                    </tr>
                    <tr class="light-grey">
                      <td>Resolution</td>
                      <td >24 bits per channel</td>
                    </tr>
                    <tr>
                      <td>Dynamic Range</td>
                      <td >375 mV (pp)</td>
                    </tr>
                    <tr class="light-grey">
                      <td>Motion Sensor</td>
                      <td >3x accelerometer</td>
                    </tr>
                    <tr>
                      <td>Battery Life</td>
                      <td >Up to 8 hours</td>
                    </tr>
                    <tr class="light-grey">
                      <td>Sample Rate</td>
                      <td >250 SPS</td>
                    </tr>
                    <tr>
                      <td>Sensor Locations</td>
                      <td  >Fp1, Fp2, F3, F4, Fz, T3, T4, Pz</td>
                    </tr>
                    <tr class="light-grey">
                      <td>LSB Resolution</td>
                      <td >22.35 nVolts (24 bits mode)</td>
                    </tr>
                    <tr>
                      <td>Sensor Technology</td>
                      <td >Dry sensors: polycarbonate conductive passive electrodes with Ag/AgCl coating</td>
                    </tr>
                    <tr class="light-grey">
                      <td>Sensor Technology</td>
                      <td >CMS/DRL references at T3/T4</td>
                    </tr>
                    <tr>
                      <td>Frequency Response</td>
                      <td >1 – 45 Hz</td>
                    </tr>
                    <tr class="light-grey">
                      <td>Connectivity</td>
                      <td >Bluetooth® Low Energy 4.2, USB Type-C (with Extender)</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- #tab1 -->
            <div id="tab2" class="tab_content">
            <div class="productdeschori-content">
                <h5>Ten Brain Research Flex Cap captures data through 8 EEG channels from the brain. With the best signal quality easy to wear and flexible Ten Brain Research flex cap is one of the best caps for researchers. The device has 8 sensors distributed in the brain’s parietal, frontal &amp; temporal lobes with the flexibility to move the sensors based on the requirements of the research. These are dry sensors and do not require any gel or saline solution.</h5>
               <h3>Ten Brain Research Desktop Application has the following premium features :</h3>
            <ul>
            <h5>Unique user ID creation along with customised experiments and records of each user</h5>
            <h5>Real-time sensor connectivity and quality</h5>
            <h5>Analysing Real-time EEG data through 8 channels</h5>
            <h5>Frequency analysis and band powers</h5>
            <h5>Real-time measurements of cognitive states including Stress, External Focus, Mood &amp; PDR</h5>
            </ul>
            <h3>*Desktop App to be renewed annually at an extra cost after 1-year subscription ends.</h3>
          </div>
            <!-- #tab2 -->
          </div>
          <!-- .tab_container -->
          </div>
          <!-- table content ends -->
      </div>
</div>
<!-- How to Use Ten Brain Research Flex Cap -->
  <div class="container mt-2 p-2">
    <div class="row">
      <div class="col-sm-6 brain-research-Desktop-app" >
        <h2>How to Use Ten Brain Research Flex Cap with Ten Brain Research Desktop Application</h2>
        <p>To use the Ten Brain Research Flex Cap with the Ten Brain Research Desktop Application, you’ll need to follow a series of steps to ensure proper setup and real-time brain data monitoring. The Flex Cap, which is an EEG device, will collect brainwave data, and the Ten Brain Research Desktop Application will process, visualize, and analyze this data.</p>
      </div>
      <div class="col-sm-6 brain-research-Desktop-app" >
        <h2>Wireless 8-Channel EEG Cap for Researchers, Students & Therapists</h2>
        <p> A Wireless 8-Channel EEG Cap is a versatile tool for researchers, students, and therapists who are interested in studying brain activity, conducting neurofeedback, or using EEG in clinical settings. This type of EEG device typically offers a balance between performance, ease of use, and affordability, making it suitable for various applications such as brainwave analysis, cognitive training, and neurological therapy.</p>
      </div>
    </div>
  </div>
 <!-- How to Use Ten Brain Research Flex end -->

 <!-- Features Of The Neuphony Application -->
    <div class="Features-Of-brain-Application">
      <h2>Features Of The Ten Brain Research Application</h2>
      <h3>Unleash Your Brain's Capabilities with Ten Brain Research Flex Cap</h3>
      <div class="container">
        <div class="row">
          <div class="wrapper">
            <div class="my-slider">
                <div >
                  <div class="card">
                    <img src="{% static 'images\Real-Time-EEG-Data.webp' %}" class="card-img-top" alt="...">
                      <h4>Real-time EEG Data</h4>
                      <p>With Ten Brain Research Headsets and desktop application you can get access to real-time EEG data without any latency.</p>
                  </div>
                </div>
                <div >
                  <div class="card">
                    <img src="{% static 'images\BandPowerAnalysis.webp' %}" class="card-img-top" alt="...">
                      <h4>Band Power Analysis</h4>
                      <p>Ten Brain Research Desktop App helps you access real-time cognitive insights like focus, calm, mental fatigue, readiness, mood & PDR</p>
                    </div>
                </div>
                <div >
                  <div class="card">
                    <img src="{% static 'images\CognitiveInsights.webp' %}" class="card-img-top" alt="...">
                      <h4>Cognitive Insights</h4>
                      <p>Ten Brain Research Desktop App helps you access real-time cognitive insights like focus, calm, mental fatigue, readiness, mood & PDR</p>
                    </div>
                </div>
                <div >
                  <div class="card">
                    <img src="{% static 'images\LabStreamingLayer.webp' %}" class="card-img-top" alt="...">
                      <h4>Lab Streaming Layer</h4>
                      <p>Ten Brain Research Desktop Application also allows to develop your own applications and softwares allowing access to real-time EEG data</p>
                    </div>
                  </div>
                <div >
                  <div class="card">
                    <img src="{% static 'images\CustomExperiments.webp' %}" class="card-img-top" alt="...">
                      <h4>Custom Experiments</h4>
                      <p>You can create your own experiments, like Audio P 300 and Visual P 300 or tailor your experiments by choosing specific images or videos.</p>
                    </div>
                  </div>

                  <div >
                    <div class="card">
                      <img src="{% static 'images\Real-Time-EEG-Data.webp' %}" class="card-img-top" alt="...">
                        <h4>Real-time EEG Data</h4>
                        <p>With Ten Brain Research Headsets and desktop application you can get access to real-time EEG data without any latency.</p>
                    </div>
                  </div>
                  <div >
                    <div class="card">
                      <img src="{% static 'images\BandPowerAnalysis.webp' %}" class="card-img-top" alt="...">
                        <h4>Band Power Analysis</h4>
                        <p>Ten Brain Research Desktop App helps you access real-time cognitive insights like focus, calm, mental fatigue, readiness, mood & PDR</p>
                      </div>
                  </div>
                  <div >
                    <div class="card">
                      <img src="{% static 'images\CognitiveInsights.webp' %}" class="card-img-top" alt="...">
                        <h4>Cognitive Insights</h4>
                        <p>Ten Brain Research Desktop App helps you access real-time cognitive insights like focus, calm, mental fatigue, readiness, mood & PDR</p>
                      </div>
                  </div>
                  <div >
                    <div class="card">
                      <img src="{% static 'images\LabStreamingLayer.webp' %}" class="card-img-top" alt="...">
                        <h4>Lab Streaming Layer</h4>
                        <p>Ten Brain Research Desktop Application also allows to develop your own applications and softwares allowing access to real-time EEG data</p>
                      </div>
                    </div>
                  <div >
                    <div class="card">
                      <img src="{% static 'images\CustomExperiments.webp' %}" class="card-img-top" alt="...">
                        <h4>Custom Experiments</h4>
                        <p>You can create your own experiments, like Audio P 300 and Visual P 300 or tailor your experiments by choosing specific images or videos.</p>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        </div>
<!-- Features Of The Neuphony Application ends-->


<!-- Build with Neuphony starts-->
        <div class="Build-with-header">
          <h2>Build with Ten Brain Research </h2>
          <h4>Develop custom BCI (Brain Computer Interface) Applications using real time EEG data including Virtual Reality, BCI drones, Brain-controlled robots, Mood based automatic lighting, and more.</h4>
        <div class="container">
          <div class="row">
          <div class="card" >
          <img src="{% static 'images\Develop-your-own-applications.webp' %}"  class="card-img-top" alt="...">
          <h5 >Develop Your Own Applications </h5>
          <p >Develop custom applications with real-time EEG data, leveraging Lab Streaming Layer for personalized solutions.</p>
          </div>
          <div class="card" >
          <img src="{% static 'images\neuromarketing-neuphony.webp' %}"  class="card-img-top" alt="...">
          <h5>Neuromarketing Research & Advertising </h5>
          <p  >Gain a deeper understanding of consumer behavior through brain waves Data & craft compelling advertising campaigns</p>
          </div>
          <div class="card" >
          <img src="{% static 'images\VR-Gamesn.webp' %}"  class="card-img-top" alt="...">
          <h5>Brain-Controlled VRs & Gaming</h5>
          <p >Players can use their thoughts to manipulate characters, objects, or actions within a game, enhancing the gaming experience.</p>
          </div>
            <div class="card" >
             <img src="{% static 'images\Assistive-technology.webp' %}"  class="card-img-top" alt="...">
              <h5>Assistive Technology </h5>
            <p >Enable individuals with motor impairments to control wheelchairs, communication devices, and robotic arms.</p>
            </div>
          </div>
        </div>
        </div>
 <!-- Build with Neuphony ends-->

  <!-- slider content starts-->
  <div class="slider-content-sli">
    <h2>Made in India, Loved by the World</h2>
    <div>
  <div class="wrapper">
    <div class="slider1">
        <div>
          <p>This is incredible! This is a whole next level! What a good meditations I have heard and experienced!! So far! This is what an EEG device deserves! This opens possibility to create a next level in measurement of the EEG Because I have seen some faults during the regular meditations.</p>
          <p>Nick Van</p>
          <h5>Founder, Meditator & Entrepreneur</h5>
        </div>
        <div>
          <p>	To begin with, the  device seems pretty cool to me. I still remember trying it on for the first time and having mutiple questions about how it’s going to feel like, kept on wondering how the device can measure my stress level, will I feel any sensations or discomfort and so on. But to my surprise it was pretty awesome. The device was not at all complicated. It felt like a head gear and was super easy to wear. The only disadvantage about the device is that after sometime it becomes too heavy on your head ad a bit pokey too.
          </p>
          <p>Nikita Patel</p>
          <h5> Fashion Influencer</h5>
        </div>
        <div>
          <p>	Brain activity was monitored during one of my meditation sessions copy. A very good initiative by team . I have never had such an amazing experience where my brain activity was monitored during one of my meditation sessions. The device that the team is working on is a very novice idea that will help people monitor their brain waves at home with ease.
          </p>
          <p> Trisha Behl  </p>
          <h5>Communication Specialist</h5>
        </div>
        <div>
          <p>	It was an amazing experience overall, using a headband does not affect your meditation experience it just helps your realize how you were truly involved in meditation, after a few minutes you forget about the headband it is that comfortable. Normal meditation and guided meditation with Neuphony and Level are slightly different as they help you to focus and calm your mind easily.</p>
          <p>Kunal Rajaram</p>
          <h5>Student & Meditator</h5>
        </div>
        <div>
          <p>
            I’ve been into meditation for 15 years now and thought that I was doing a more or less good job of it. But I never really felt completely relaxed during my meditations and this got confirmed with Neuphony that mindfulness meditation is definitely the meditation that’s more suited to my brain waves </p>
          <p> Susan Lemke</p>
          <h5>15+ years Experienced Meditator</h5>
        </div>
        <div>
          <p>
            I attended  meditation bootcamp & used their product which is brain analysing device through EEG in upgraded level without wires which is great. In normal meditation we are not able to conclude that how much focused we are but with headband and its app where it has a feature of music sound which increase when we are focused and decrease when we are not helps a lot and that's the best feature I can say</p>
          <p>Chaitrali Shah</p>
          <h5>Student & Meditator</h5>
        </div>
        <div>
          <p>
            My experience with the device has been great. I love the concept of the device, didn't think it would be so efficient to actually measure your brain activity. The device is compact, easy and comfortable. It keeps us motivated to improve ourselves by adopting new habits. Its a very cool and exciting device. Thank you for the opportunity glad to have been a part of it</p>
          <p>Pooja Chhedda</p>
          <h5>Student & Meditator</h5>
        </div>
      </div>
  </div>
</div>
   <!-- slider content ends-->
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-2.1.1.js"></script>
<script src="https://unpkg.com/xzoom/dist/xzoom.min.js"></script>
<script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

  <script>
    (function ($) {
      $(document).ready(function() {
          $('.xzoom, .xzoom-gallery').xzoom({zoomWidth: 300,zoomHeight:300, title: true, tint: '#333', Xoffset: 15});
          $('.xzoom2, .xzoom-gallery2').xzoom({position: '#xzoom2-id', tint: '#ffa200'});
          $('.xzoom3, .xzoom-gallery3').xzoom({position: 'lens', lensShape: 'circle', sourceClass: 'xzoom-hidden'});
          $('.xzoom4, .xzoom-gallery4').xzoom({tint: '#006699', Xoffset: 15});
          $('.xzoom5, .xzoom-gallery5').xzoom({tint: '#006699', Xoffset: 15});

          //Integration with hammer.js
          var isTouchSupported = 'ontouchstart' in window;
          if (isTouchSupported) {
              //If touch device
              $('.xzoom, .xzoom2, .xzoom3, .xzoom4, .xzoom5').each(function(){
                  var xzoom = $(this).data('xzoom');
                  xzoom.eventunbind();
              });

              $('.xzoom, .xzoom2, .xzoom3').each(function() {
                  var xzoom = $(this).data('xzoom');
                  $(this).hammer().on("tap", function(event) {
                      event.pageX = event.gesture.center.pageX;
                      event.pageY = event.gesture.center.pageY;
                      var s = 1, ls;

                      xzoom.eventmove = function(element) {
                          element.hammer().on('drag', function(event) {
                              event.pageX = event.gesture.center.pageX;
                              event.pageY = event.gesture.center.pageY;
                              xzoom.movezoom(event);
                              event.gesture.preventDefault();
                          });
                      }

                      xzoom.eventleave = function(element) {
                          element.hammer().on('tap', function(event) {
                              xzoom.closezoom();
                          });
                      }
                      xzoom.openzoom(event);
                  });
              });

          $('.xzoom4').each(function() {
              var xzoom = $(this).data('xzoom');
              $(this).hammer().on("tap", function(event) {
                  event.pageX = event.gesture.center.pageX;
                  event.pageY = event.gesture.center.pageY;
                  var s = 1, ls;

                  xzoom.eventmove = function(element) {
                      element.hammer().on('drag', function(event) {
                          event.pageX = event.gesture.center.pageX;
                          event.pageY = event.gesture.center.pageY;
                          xzoom.movezoom(event);
                          event.gesture.preventDefault();
                      });
                  }

                  var counter = 0;
                  xzoom.eventclick = function(element) {
                      element.hammer().on('tap', function() {
                          counter++;
                          if (counter == 1) setTimeout(openfancy,300);
                          event.gesture.preventDefault();
                      });
                  }

                  function openfancy() {
                      if (counter == 2) {
                          xzoom.closezoom();
                          $.fancybox.open(xzoom.gallery().cgallery);
                      } else {
                          xzoom.closezoom();
                      }
                      counter = 0;
                  }
              xzoom.openzoom(event);
              });
          });

          $('.xzoom5').each(function() {
              var xzoom = $(this).data('xzoom');
              $(this).hammer().on("tap", function(event) {
                  event.pageX = event.gesture.center.pageX;
                  event.pageY = event.gesture.center.pageY;
                  var s = 1, ls;

                  xzoom.eventmove = function(element) {
                      element.hammer().on('drag', function(event) {
                          event.pageX = event.gesture.center.pageX;
                          event.pageY = event.gesture.center.pageY;
                          xzoom.movezoom(event);
                          event.gesture.preventDefault();
                      });
                  }

                  var counter = 0;
                  xzoom.eventclick = function(element) {
                      element.hammer().on('tap', function() {
                          counter++;
                          if (counter == 1) setTimeout(openmagnific,300);
                          event.gesture.preventDefault();
                      });
                  }

                  function openmagnific() {
                      if (counter == 2) {
                          xzoom.closezoom();
                          var gallery = xzoom.gallery().cgallery;
                          var i, images = new Array();
                          for (i in gallery) {
                              images[i] = {src: gallery[i]};
                          }
                          $.magnificPopup.open({items: images, type:'image', gallery: {enabled: true}});
                      } else {
                          xzoom.closezoom();
                      }
                      counter = 0;
                  }
                  xzoom.openzoom(event);
              });
          });

          } else {
              //If not touch device

              //Integration with fancybox plugin
              $('#xzoom-fancy').bind('click', function(event) {
                  var xzoom = $(this).data('xzoom');
                  xzoom.closezoom();
                  $.fancybox.open(xzoom.gallery().cgallery, {padding: 0, helpers: {overlay: {locked: false}}});
                  event.preventDefault();
              });

              //Integration with magnific popup plugin
              $('#xzoom-magnific').bind('click', function(event) {
                  var xzoom = $(this).data('xzoom');
                  xzoom.closezoom();
                  var gallery = xzoom.gallery().cgallery;
                  var i, images = new Array();
                  for (i in gallery) {
                      images[i] = {src: gallery[i]};
                  }
                  $.magnificPopup.open({items: images, type:'image', gallery: {enabled: true}});
                  event.preventDefault();
              });
          }
      });
  })(jQuery);
  </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
    $(document).ready(function(){
      $('.my-slider').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        arrows: false,
        dots: false,
        speed: 1000,
        infinite: true,
        autoplaySpeed: 3000,
        autoplay: true,
        responsive: [
      {
        breakpoint: 991,
        settings: {
          slidesToShow: 3,
        }
      },
      {
        breakpoint: 767,
        settings: {
          slidesToShow: 1,
        }
      }
    ]
      });
    });
  </script>
  <script>
    $(document).ready(function(){
      $('.slider1').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        dots: true,
        speed: 1000,
        infinite: true,
        autoplaySpeed: 3000,
        autoplay: true,
        responsive: [
      {
        breakpoint: 991,
        settings: {
          slidesToShow: 3,
        }
      },
      {
        breakpoint: 767,
        settings: {
          slidesToShow: 1,
        }
      }
    ]
      });
    });
  </script>

  <script>
     // tabbed content
    // http://www.entheosweb.com/tutorials/css/tabs.asp
    $(".tab_content").hide();
    $(".tab_content:first").show();

  /* if in tab mode */
    $("ul.tabs li").click(function() {

      $(".tab_content").hide();
      var activeTab = $(this).attr("rel");
      $("#"+activeTab).fadeIn();

      $("ul.tabs li").removeClass("active");
      $(this).addClass("active");

	  $(".tab_drawer_heading").removeClass("d_active");
	  $(".tab_drawer_heading[rel^='"+activeTab+"']").addClass("d_active");

    });
	/* if in drawer mode */
	$(".tab_drawer_heading").click(function() {

      $(".tab_content").hide();
      var d_activeTab = $(this).attr("rel");
      $("#"+d_activeTab).fadeIn();

	  $(".tab_drawer_heading").removeClass("d_active");
      $(this).addClass("d_active");

	  $("ul.tabs li").removeClass("active");
	  $("ul.tabs li[rel^='"+d_activeTab+"']").addClass("active");
    });
	/* Extra class "tab_last"
	   to add border to right side
	   of last tab */
	$('ul.tabs li').last().addClass("tab_last");
  </script>
</body>
</html>
{% endblock 'main' %}