{% extends 'base.html'%}
{% block 'main' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refund Policy</title>
    {% load static %}
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href=" {% static 'css/Refund.css' %}">
</head>

<body>
    <div class="container1">
        <h1>REFUND POLICY</h1>
        <h3>1. <strong>TERMS OF REFUND</strong></h3>
        <p>
            The following requirements must be met in order for the company to provide the user a refund within 15–21 business days:
        </p>
        <ol>
            <li>if the user want to return the product because they are unhappy with it.</li>
            <li>
                if the user requested to cancel the order for the product within 24 hours after placing it.
                <ul>
                    <li>If the delivered product is damaged, differs from what was requested, or the box is opened prior to delivery, the client will receive a replacement.</li>
                </ul>
            </li>
            <li>Online payment methods will either issue a store credit or a refund to the original account in which the purchase was made.</li>
            <li>
                In the event of a complete policy return, the company will inspect the products and conduct a quality check. Within 15–21 business days following the inspection and quality verification, the money return will be completed.
            </li>
        </ol>
    </div>
    <div class="subscription-section">
        <h2>New from Ten Brain Research?</h2>
        <p>Get the latest from Ten Brain Research by subscribing now.</p>
        <form class="subscription-form">
            <input type="email" placeholder="Email" required>
            <button type="submit">Subscribe</button>
        </form>
    </div>
    <div class="whatsapp-container1">
        <div class="whatsapp-container">
            <input type="checkbox" id="toggle-query" class="toggle-checkbox" />
  <label for="toggle-query" class="close-button" aria-label="Close">
    <i class="fa-solid fa-xmark"></i>
  </label>
           
            <div class="query-label">Have a query?</div>
           
          </div>
          <div class="whatsapp-logo">
            <a
              href="https://wa.me/your-number"
              target="_blank"
              class="whatsapp-button"
              aria-label="Contact us on WhatsApp"
            >
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg"
                alt="WhatsApp"
              />
            </a>
            
          </div>
      </div>
      
</body>
</html>
{% endblock 'main' %}