/* body , html {

    font-size: 17px;
} */

.shipping svg{
    width: 12%;
}
.w3-black{
    text-align: center;
    padding-top: 10px;
}

.w3-black a{
    text-decoration: none;
    color: white;
    line-height: 1.0;
}

.row-footer1 img{
    width: 35%;
}
.row-footer2 img{
    width: 12%;
}
.row-footer3{
    text-align: center;
}



@media  (max-width : 320px){
    body, html{
        text-align: center;
    }
    .w3-black .shipping h4{
        font-size: 22px;
    }
    .w3-black .shipping p{
        font-size: 14px;
    }
    .w3-black h4{
        font-size: 20px ;
    }
    .w3-black p{
        font-size: 15px ;
    }
    .row-footer1 h3{
        font-size: 22px;
    } 
    .row-footer1 img{
        width: 48%;
    }
    .row-footer2 h3{
        font-size: 22px;
    }
    .row-footer2 img{
        width: 14%;
    }
    .row-footer3{
        font-size: small;
    }
    
    }